# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = auto
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript and JavaScript files
[*.{ts,js,tsx,jsx}]
indent_size = 2
max_line_length = 80

# JSON files
[*.json]
indent_size = 2
max_line_length = 120

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 100

# Package files
[package.json]
indent_size = 2

# Config files
[*.{config.js,config.ts}]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# CSS and SCSS files
[*.{css,scss,sass}]
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

# Make files (require tabs)
[Makefile]
indent_style = tab

# Ignore node_modules and dist
[{node_modules,dist}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset 